.cube-rows {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  height: 85vh;
  width: 60%;
}

.cube-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vh;
  position: absolute;
}