.cube-rows {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  height: 85vh;
  width: 20vw;
}

.cube-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vh;
  position: absolute;
}

@media screen and (max-width: 830px) {
  .exercises {
    width: auto;
  }
}